workflow-management-and-execution/statemachine/firmware_upgrade.asl.json
{
  "Comment": "Firmware Upgrade State Machine.",
  "StartAt": "GetDevice",
  "States": {
    "GetDevice": {
      "Type": "Task",
      "Parameters": {
        "QueryString.$": "$.thingName"
      },
      "Resource": "arn:aws:states:::aws-sdk:iot:searchIndex",
      "Next": "IsDeviceFound?",
      "ResultPath": "$.result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 4,
          "MaxAttempts": 2
        }
      ]
    },
    "IsDeviceFound?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.result.Things",
              "IsPresent": true
            },
            {
              "Variable": "$.result.Things[0]",
              "IsPresent": true
            }
          ],
          "Next": "EvaluateDevice"
        }
      ],
      "Default": "PublishFailureToStart"
    },
    "EvaluateDevice": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "IsDeviceConnected?",
          "States": {
            "IsDeviceConnected?": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.connected",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.connected",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "DeviceConnected"
                }
              ],
              "Default": "DeviceNotConnected"
            },
            "DeviceNotConnected": {
              "Type": "Pass",
              "End": true,
              "Result": false,
              "ResultPath": "$.connected"
            },
            "DeviceConnected": {
              "Type": "Pass",
              "End": true,
              "ResultPath": "$.connected",
              "Result": true
            }
          }
        },
        {
          "StartAt": "IsFirmwareUpgradePossible?",
          "States": {
            "IsFirmwareUpgradePossible?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.firmwareVersion",
                  "IsPresent": true,
                  "Next": "FirmwareUpgradePossible"
                }
              ],
              "Default": "FirmwareUpgradeNotPossible"
            },
            "FirmwareUpgradeNotPossible": {
              "Type": "Pass",
              "End": true,
              "Result": false,
              "ResultPath": "$.canUpgrade"
            },
            "FirmwareUpgradePossible": {
              "Type": "Pass",
              "End": true,
              "Result": true,
              "ResultPath": "$.canUpgrade"
            }
          }
        }
      ],
      "Next": "Upgrade?",
      "Parameters": {
        "execution.$": "$.execution",
        "thingName.$": "$.result.Things[0].ThingName",
        "firmwareVersion.$": "$.result.Things[0].Attributes.firmwareVersion",
        "thingId.$": "$.result.Things[0].ThingId",
        "connected.$": "$.result.Things[0].Connectivity.Connected"
      }
    },
    "Upgrade?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "And": [
                {
                  "And": [
                    {
                      "And": [
                        {
                          "Variable": "$[0]",
                          "IsPresent": true
                        },
                        {
                          "Variable": "$[0].connected",
                          "BooleanEquals": true
                        }
                      ]
                    },
                    {
                      "And": [
                        {
                          "Variable": "$[1]",
                          "IsPresent": true
                        },
                        {
                          "Variable": "$[1].canUpgrade",
                          "BooleanEquals": true
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "Next": "StartDownload"
        }
      ],
      "Default": "PublishFailureToStart",
      "OutputPath": "$[1]"
    },
    "PublishFailureToStart": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": {
          "id.$": "$.execution.jobId",
          "operationId.$": "$.execution.jobId",
          "name": "FIRMWARE_UPGRADE_FAIL",
          "thingName.$": "$.thingName"
        },
        "TopicArn.$": "$.execution.jobDocument.eventTopic"
      },
      "Next": "CannotStartFirmwareUpgrade"
    },
    "StartDownload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish.waitForTaskToken",
      "Parameters": {
        "TopicArn.$": "$.execution.jobDocument.eventTopic",
        "Message": {
          "id.$": "$.execution.jobId",
          "name": "START_UPGRADE",
          "thingName.$": "$.thingName",
          "firmwareVersion.$": "$.execution.jobDocument.firmwareVersion",
          "token.$": "$$.Task.Token"
        }
      },
      "Next": "WaitForDeviceMessages",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PublishFailureToStart"
        }
      ],
      "ResultPath": null,
      "HeartbeatSeconds": 120
    },
    "WaitForDeviceMessages": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "WaitForFirmwareTransferred",
          "States": {
            "WaitForFirmwareTransferred": {
              "Type": "Task",
              "HeartbeatSeconds": 20,
              "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem.waitForTaskToken",
              "Parameters": {
                "TableName": "FWUTaskTokens",
                "Item": {
                  "deviceId": {
                    "S.$": "$.thingName"
                  },
                  "operationId": {
                    "S.$": "$.execution.jobId"
                  },
                  "token": {
                    "S.$": "$$.Task.Token"
                  },
                  "notificationKey": {
                    "S": "FIRMWARE_TRANSFERRED"
                  },
                  "status": {
                    "S": "ACTIVE"
                  }
                }
              },
              "Next": "FirmwareTransferedMessageReceived",
              "ResultPath": "$.result"
            },
            "FirmwareTransferedMessageReceived": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "FWUTaskTokens",
                "Item": {
                  "deviceId": {
                    "S.$": "$.thingName"
                  },
                  "operationId": {
                    "S.$": "$.execution.jobId"
                  },
                  "notificationKey": {
                    "S": "FIRMWARE_TRANSFERRED"
                  },
                  "token": {
                    "S.$": "$.result.token"
                  },
                  "status": {
                    "S": "INACTIVE"
                  }
                }
              },
              "End": true,
              "ResultPath": null
            }
          }
        },
        {
          "StartAt": "WaitForDownloadOperationResponse",
          "States": {
            "WaitForDownloadOperationResponse": {
              "Type": "Task",
              "HeartbeatSeconds": 20,
              "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem.waitForTaskToken",
              "Parameters": {
                "TableName": "FWUTaskTokens",
                "Item": {
                  "deviceId": {
                    "S.$": "$.thingName"
                  },
                  "operationId": {
                    "S.$": "$.execution.jobId"
                  },
                  "token": {
                    "S.$": "$$.Task.Token"
                  },
                  "notificationKey": {
                    "S": "DOWNLOAD_OPERATION_DONE"
                  },
                  "status": {
                    "S": "ACTIVE"
                  }
                }
              },
              "Next": "DownloadOperationMessageReceived",
              "ResultPath": "$.result"
            },
            "DownloadOperationMessageReceived": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "FWUTaskTokens",
                "Item": {
                  "deviceId": {
                    "S.$": "$.thingName"
                  },
                  "operationId": {
                    "S.$": "$.execution.jobId"
                  },
                  "token": {
                    "S.$": "$.result.token"
                  },
                  "notificationKey": {
                    "S": "DOWNLOAD_OPERATION_DONE"
                  },
                  "status": {
                    "S": "INACTIVE"
                  }
                }
              },
              "End": true,
              "ResultPath": null
            }
          }
        },
        {
          "StartAt": "WaitForDeviceRebooted",
          "States": {
            "WaitForDeviceRebooted": {
              "Type": "Task",
              "HeartbeatSeconds": 30,
              "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem.waitForTaskToken",
              "Parameters": {
                "TableName": "FWUTaskTokens",
                "Item": {
                  "deviceId": {
                    "S.$": "$.thingName"
                  },
                  "operationId": {
                    "S.$": "$.execution.jobId"
                  },
                  "token": {
                    "S.$": "$$.Task.Token"
                  },
                  "notificationKey": {
                    "S": "DEVICE_REBOOTED"
                  },
                  "status": {
                    "S": "ACTIVE"
                  }
                }
              },
              "Next": "BootMessageReceived",
              "ResultPath": "$.result"
            },
            "BootMessageReceived": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "FWUTaskTokens",
                "Item": {
                  "deviceId": {
                    "S.$": "$.thingName"
                  },
                  "operationId": {
                    "S.$": "$.execution.jobId"
                  },
                  "token": {
                    "S.$": "$.result.token"
                  },
                  "notificationKey": {
                    "S": "DEVICE_REBOOTED"
                  },
                  "status": {
                    "S": "INACTIVE"
                  }
                }
              },
              "ResultPath": null,
              "Next": "UpdateThing"
            },
            "UpdateThing": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "ThingName.$": "$.thingName",
                "AttributePayload": {
                  "Attributes": {
                    "firmwareVersion.$": "$.result.newFirmwareVersion"
                  },
                  "Merge": true
                }
              },
              "Resource": "arn:aws:states:::aws-sdk:iot:updateThing",
              "ResultPath": null
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PublishFirmwareUpgradeFailureOnTimeouts",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "IsFirmwareUpdateCompleted"
    },
    "PublishFirmwareUpgradeFailureOnTimeouts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": {
          "id.$": "$.execution.jobId",
          "operationId.$": "$.execution.jobId",
          "name": "FIRMWARE_UPGRADE_FAIL",
          "thingName.$": "$.thingName"
        },
        "TopicArn.$": "$.execution.jobDocument.eventTopic"
      },
      "Next": "FirmwareUpdateFailed"
    },
    "IsFirmwareUpdateCompleted": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$[0].result",
              "IsPresent": true
            },
            {
              "Variable": "$[1].result",
              "IsPresent": true
            },
            {
              "Variable": "$[2].result",
              "IsPresent": true
            },
            {
              "And": [
                {
                  "Variable": "$[0].result.status",
                  "StringEquals": "SUCCESS"
                },
                {
                  "Variable": "$[1].result.status",
                  "StringEquals": "SUCCESS"
                },
                {
                  "Variable": "$[2].result.status",
                  "StringEquals": "SUCCESS"
                }
              ]
            }
          ],
          "Next": "PublishFirmwareUpgrade"
        }
      ],
      "Default": "PublishFirmwareUpgradeFailure"
    },
    "PublishFirmwareUpgradeFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": {
          "id.$": "$[0].execution.jobId",
          "operationId.$": "$[0].execution.jobId",
          "name": "FIRMWARE_UPGRADE_FAIL",
          "thingName.$": "$[0].thingName"
        },
        "TopicArn.$": "$[0].execution.jobDocument.eventTopic"
      },
      "Next": "FirmwareUpdateFailed"
    },
    "PublishFirmwareUpgrade": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": {
          "id.$": "$[0].execution.jobId",
          "operationId.$": "$[0].execution.jobId",
          "name": "FIRMWARE_UPGRADE_SUCCESS",
          "thingName.$": "$[0].thingName"
        },
        "TopicArn.$": "$[0].execution.jobDocument.eventTopic"
      },
      "Next": "FirmwareUpdateSuccess"
    },
    "CannotStartFirmwareUpgrade": {
      "Type": "Fail",
      "Error": "CannotStartFirmwareUpgrade"
    },
    "FirmwareUpdateSuccess": {
      "Type": "Succeed"
    },
    "FirmwareUpdateFailed": {
      "Type": "Fail",
      "Error": "FirmwareUpdateFailed"
    }
  }
}